@model IEnumerable<MsiShopFinal.Models.News>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
    </tr>
}
</table>