@model IEnumerable<MsiShopFinal.Models.Prods>

@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>


<p>
    to see prices plz login
</p>

<p>
    @Html.ActionLink("Login to view Prices", "Account.Login")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specifications)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Buyable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specifications)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Buyable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SerialNumber }, new { @class = "btn btn-primary btn-block" }) |
            @Html.ActionLink("Details", "Details", new { id = item.SerialNumber }, new { @class = "btn btn-primary btn-block" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SerialNumber }, new { @class = "btn btn-primary btn-block" })
        </td>
    </tr>
}


<p>
    to see prices plz login
</p>

</table>
