@model IEnumerable<MsiShopFinal.Models.Prods>

@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<p>
    log in as customer or reseller to view prices
    <div class="col-md-4 col-md-offset-2">
        @Html.ActionLink("Register as Reseller", "RegisterRes", "Account", null, new { @class = "btn btn-primary btn-block" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Register as Customer", "RegisterCust", "Account", null, new { @class = "btn btn-danger btn-block" })
        <br />
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specifications)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Buyable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specifications)
        </td>
        <td>
            <img src="@item.Image" alt="" style=" width:100px ; height:100px">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Buyable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
    </tr>
}

</table>
