@model IEnumerable<MsiShopFinal.Models.Resellers>

@{
    ViewBag.Title = "Index";
}

<h2>MSI Resellers</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StorePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MostBuyableBrand)
        </th>
        @if (User.IsInRole("CanManageProducts"))
        {
            <th>
                @Html.DisplayNameFor(model => model.NetWorthPerMonth)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.StoreEmail)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MostBuyableBrand)
            </td>
            @if (User.IsInRole("CanManageProducts"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.NetWorthPerMonth)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.StoreEmail)
            </td>
            @if (User.IsInRole("CanManageProducts"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ResellerId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ResellerId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ResellerId })
                </td>
            }
        </tr>
    }

</table>
