@model IEnumerable<MsiShopFinal.Models.SpecialOffers>

@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole("CanManageProducts"))
{
    <h2>Specail Offers</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SOData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SOData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            @if (User.IsInRole("CanManageProducts"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
        }

        </table>