@model IEnumerable<MsiShopFinal.Models.Categorys>

@{
    ViewBag.Title = "Index";
}


@if (User.IsInRole("CanManageProducts"))
{
    <h2>Categories</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
else
{
    <h2>You Dont Have Previllage To View This Page</h2>
}

<table class="table">
    @if (User.IsInRole("CanManageProducts"))
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    }
    @if (User.IsInRole("CanManageProducts"))
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }


</table>
